<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smooth Jess</title>
	<link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>

<!-- this is a complete waste of handlebars with only one handlebar file to upload to this body -->
	{{{ body }}}
	
</body>
</html>